name: Deploy to VPS

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: unnecessary

      - name: Deploy to server
        run: |
          ssh -o StrictHostKeyChecking=no root@185.104.113.48 << 'EOF'
            mkdir -p /home/azicode/devduel
            cd /home/azicode/devduel

            if [ ! -d .git ]; then
              git clone git@github.com:Rakhimv/devduel-back.git .
            fi

            git reset --hard
            git pull origin main

            bun install

            pm2 delete devduel || true
            pm2 start "bun run src/index.ts" --name "devduel" 

            pm2 save

            echo "Deploy completed!"
          EOF